name: Run Tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          pip install '.[testing]'
      - name: Run mypy
        run: |
          mypy --install-types --non-interactive ./sakugabooru_episode_mad
      - name: Run flake8
        run: |
          flake8 ./sakugabooru_episode_mad
